[mysqld]
default-time-zone="+03:00"
sql_mode=

innodb_buffer_pool_size=250M 
innodb_additional_mem_pool_size=50M 
innodb_file_io_threads=8 
innodb_lock_wait_timeout=50 
innodb_log_buffer_size=8M 
innodb_flush_log_at_trx_commit=0
innodb_flush_log_at_trx_commit=0
key_buffer_size=16M 
sort_buffer=8M 
read_buffer_size=16M
innodb_additional_mem_pool_size=20M
innodb_log_file_size=100M 
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit=0
tmp_table_size=32m
